@media(max-width:550px) and (min-width:0px){
    #card{
        width: 90%;
        margin-left: 5%;
    }
}

@media(max-width:420px) and (min-width:0px){
    #card{
        width: 80%;
        height: 340px;
        margin-left: 2%;
    }
    #card:hover{
        scale: 1;
    }
    #img{
        width: 100%;
        height: 200px;
    }
    #card button{
        margin-left: 45px;
    }
}